@model HomeViewModel;

@{
    ViewData["Title"] = "Accueil";
}

@{
	float PrixAvecReduction = 0;
	bool promoOK = false;
}

@foreach (var promotionEnCours in Model.LstPromotionsEnCours)
{
	promoOK = false;
	foreach(var prod in Model.LstProduitWithPromotion){
		if(prod.Promotion.IdPromotion == promotionEnCours.IdPromotion){
			promoOK = true;
		}
	}
	if (promoOK){
	<div class="row">
		<div class="col-md-12">
				<h2><span style="font-size:12px;color:black">du @promotionEnCours.DateDebut au @promotionEnCours.DateFin</span><br /><b style="color:#01AB61"> @promotionEnCours.Libelle </b></h2>
			<div class="carousel slide" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
				<!-- Wrapper for carousel items -->
				@{int i=0;}
						@foreach (var produit in Model.LstProduitWithPromotion)
						{
							if(i<4)
								{
									@if (produit.Promotion.IdPromotion == promotionEnCours.IdPromotion)
									{
											PrixAvecReduction = (float)Math.Round((@produit.Prix-(@produit.Prix * @produit.Promotion.Reduction) / 100), 2);
										<div class="col-sm-3">
											<div class="thumb-wrapper" style="height:270px">
												<div class="img-box">
													<img src="@produit.Image" class="img-fluid" alt="Watch">
												</div>
												<div class="promo">-@produit.Promotion.Reduction&nbsp;%</div>
												<div class="thumb-content">
													<h4>@produit.Libelle</h4>
													<p class="item-price"><strike>@produit.Prix €</strike> <span style="color:red;font-weight:bold">@PrixAvecReduction €</span></p>
												</div>						
											</div>
										</div>
										i++;
									}
								}
						}
					</div>
				</div>
			</div>
						
			<!-- Carousel controls -->
			
			</div>
		</div>
	</div>
	}
}