@model HomeViewModel;

@{
    ViewData["Title"] = "Accueil";
}

@{
	float PrixAvecReduction = 0;
	bool promoOK = false;
}

<h2>Bienvenue sur la catalogue en ligne de Mercadona !</h2>

<div class="displayPromo">
@foreach (var promotionEnCours in Model.LstPromotionsEnCours)
{
	promoOK = false;
	foreach(var prod in Model.LstProduitWithPromotion){
		if(prod.Promotion.IdPromotion == promotionEnCours.IdPromotion){
			promoOK = true;
		}
	}
	if (promoOK){
	
	<div class="row">
		<div class="col-md-12">
				<h2><span style="font-size:12px;color:black">du @promotionEnCours.DateDebut au @promotionEnCours.DateFin</span><br /><b style="color:#01AB61"> @promotionEnCours.Libelle </b></h2>
			<div class="carousel slide" data-ride="carousel" data-interval="0">
				<!-- Carousel indicators -->
				<div class="carousel-inner">
					<div class="item carousel-item active">
						<div class="row">
				<!-- Wrapper for carousel items -->
				@{int i=0;}
						@foreach (var produit in Model.LstProduitWithPromotion)
						{
							if(i<4)
								{
									@if (produit.Promotion.IdPromotion == promotionEnCours.IdPromotion)
									{
											PrixAvecReduction = (float)Math.Round((@produit.Prix-(@produit.Prix * @produit.Promotion.Reduction) / 100), 2);
										<div class="col-sm-3">
											<div class="thumb-wrapper" style="height:270px">
												<div class="img-box">
													<img src="@produit.Image" class="img-fluid" alt="Watch">
												</div>
												<div class="promo">-@produit.Promotion.Reduction&nbsp;%</div>
												<div class="thumb-content">
													<h4>@produit.Libelle</h4>
													<p class="item-price"><strike>@produit.Prix €</strike> <span style="color:red;font-weight:bold">@PrixAvecReduction €</span></p>
												</div>						
											</div>
										</div>
										i++;
									}
								}
						}
					</div>
				</div>
			</div>
						
			<!-- Carousel controls -->
			
			</div>
		</div>
	</div>
	}
}
</div>
<div class="infoEntreprise">
		<h2 style="text-align:left;"> Qu'est-ce que Mercadona ?</h2>

		<blockquote class="infoMercadona"><strong>Un projet de transformation partagé, durable et constant dont la société veut exister, se sentir fière et avoir le client comme fil conducteur.</strong></blockquote>

		<hr />
		<div style="padding-left:3%;padding-right:3%"><p>Mercadona, une entreprise familiale, est l'une des principales entreprises de supermarchés physiques et de vente en ligne en Espagne. <br />
		Son objectif est d'être responsable de proposer au client la meilleure option pour satisfaire ses attentes.<br />
		Grâce à cela, 5,7 millions de foyers font chaque jour <strong>confiance</strong> à l'entreprise.
		</p>
		<p>
		Créé en 1977 par le groupe Cárnicas Roig, il compte actuellement 1 628 magasins en Espagne et 42 au Portugal, et a un effectif de 99 000 employés qui recherchent l'excellence, dont 3 500 au Portugal.
		</p>
		</div>

</div>